/* 去除常见标签默认的 margin 和 padding */
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}
/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
  font: 18px/1.5 "PingFangSC-Regul", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
}
/* 去除列表默认样式 */
ul,
ol {
  list-style: none;
}
/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}
/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
  text-decoration: none;
  color: #333;
}
/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
  vertical-align: middle;
}
/* 去除input默认样式 */
input {
  border: none;
  outline: none;
  color: #333;
}
/* 左浮动 */
.fl {
  float: left;
}
/* 右浮动 */
.fr {
  float: right;
}
/* 双伪元素清除法 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
body {
  padding: 0 4.6vw;
}
.header {
  height: 19.3333vw;
  padding-top: 7.3333vw;
}
.header h2 {
  font-size: 7.7333vw;
  font-weight: 400;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 79.2vw;
  margin-top: 6vw;
  margin-bottom: 7.3333vw;
}
.nav li {
  text-align: center;
}
.nav li a {
  color: #666;
  font-size: 4.2667vw;
}
.nav .active::after {
  display: block;
  content: '';
  width: 6.4vw;
  height: 1.0667vw;
  background-color: #333333;
  margin: 0 auto;
  margin-top: 3.3333vw;
  border-radius: 0.53335vw;
}
.nav .active a {
  color: #333;
}
.drink .type .item {
  display: flex;
  align-items: center;
  width: 90.8vw;
  height: 27.3333vw;
  background-image: linear-gradient(-90deg, #ff80a6 0%, #f65d71 100%);
  box-shadow: 0vw 0.9333vw 3.0667vw 0.1333vw rgba(253, 120, 154, 0.35);
  border-radius: 2.6667vw;
  margin-bottom: 5.7333vw;
}
.drink .type .item .icon-icon-test {
  display: block;
  width: 20.8vw;
  height: 20.8vw;
  background-color: #fff;
  margin-left: 3.4667vw;
  margin-right: 6vw;
  border-radius: 50%;
  color: #f65d71;
  font-size: 9.3333vw;
  text-align: center;
  line-height: 20.8vw;
}
.drink .type .item ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18.1333vw;
}
.drink .type .item ul li {
  line-height: 1;
}
.drink .type .item ul li span {
  font-size: 3.4667vw;
}
.drink .type .item ul li:nth-child(1) {
  color: #ffffff;
  font-size: 5.3333vw;
}
.drink .type .item ul li:nth-child(2) {
  color: #ffffff;
  font-size: 3.4667vw;
}
.drink .type .item ul li:nth-child(3) {
  width: 35.6vw;
  display: flex;
  justify-content: space-between;
}
.drink .type .item ul li:nth-child(3) span {
  display: block;
  width: 11.0667vw;
  height: 4.5333vw;
  background-color: #fff;
  border-radius: 2.26665vw;
  color: #f65d71;
  text-align: center;
  line-height: 4.5333vw;
}
