@charset "UTF-8";
:export {
  menuText: #ffffff;
  menuActiveText: #409eff;
  subMenuActiveText: #f4f4f5;
  menuBg: transparent;
  menuHover: #ffffff;
  subMenuBg: #1f2d3d;
  subMenuHover: #001528;
  sideBarWidth: 145px;
}

/* 改变 icon 字体路径变量，必需 */
.el-input__inner,
.el-button {
  border-radius: 2px;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.login-container {
  display: flex;
  align-items: stretch;
  height: 100vh;
  background-color: #fff;
}
.login-container .logo {
  flex: 3;
  background: rgb(38, 72, 176) url(../images/login-bg-e4ea539c.svg) no-repeat center/cover;
  border-top-right-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 100px;
}
.login-container .logo p {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  width: 300px;
  text-align: center;
}
.login-container .form {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}
.login-container .form .login {
  width: 100%;
}
.login-container .form .el-card {
  border: none;
  padding: 0;
}
.login-container .form h1 {
  font-size: 24px;
  margin-bottom: 30px;
}
.login-container .form .el-form {
  margin-top: 15px;
}
.login-container .form .el-form-item {
  text-align: center;
}
.login-container .form .el-input {
  line-height: 40px;
  position: relative;
  font-size: 14px;
  height: 44px;
}
.login-container .form .agreeCk {
  display: flex;
  position: relative;
  margin-bottom: 35px;
}
.login-container .form .el-checkbox {
  color: #606266;
  margin-top: 5px;
}
.login-container .form .agreeMsg {
  margin-left: 5px;
}
.login-container .form .password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 99;
}

.el-tabs--border-card {
  width: 360px;
  background: #fff;
  border: 1px solid #dcdfe6;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}
.el-tabs--border-card .line {
  position: absolute;
  bottom: 10px;
  left: 240px;
  transition: all 0.3s;
  min-width: 60px;
  height: 2px;
  border-bottom: 2px solid #409eff;
}
.el-tabs--border-card .el-tabs__content {
  min-height: 295px;
}
.el-tabs--border-card .el-tabs__item {
  position: static;
  height: 50px !important;
  transition: none !important;
  flex: 1;
  text-align: center;
}
.el-tabs--border-card .active {
  color: #409eff !important;
}
.el-tabs--border-card .el-tab-pane {
  display: none;
}
.el-tabs--border-card .code {
  padding-top: 50px;
}
.el-tabs--border-card .show {
  display: block !important;
}
.el-tabs--border-card .el-tab-pane {
  text-align: center;
}
.el-tabs--border-card .el-tab-pane img {
  border: 1px solid #f4f4f4;
  padding: 8px;
  width: 155px;
}

.el-tabs__header {
  display: flex;
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
}
.el-tabs__header::before {
  content: "|";
  position: absolute;
  top: 50%;
  color: #ccc;
  left: 50%;
  transform: translate(-50%, -80%);
}

.tips {
  text-align: left;
  color: #f56c6c;
}