@font-face {
  font-family: "iconfont"; /* Project id 4227146 */
  src: url('iconfont.woff2?t=1694161736696') format('woff2'),
       url('iconfont.woff?t=1694161736696') format('woff'),
       url('iconfont.ttf?t=1694161736696') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wendang:before {
  content: "\e623";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-shipin:before {
  content: "\e618";
}

.icon-lightbulb:before {
  content: "\e724";
}

.icon-logout:before {
  content: "\e6f7";
}

.icon-add:before {
  content: "\e6df";
}

.icon-filter:before {
  content: "\e6ac";
}

.icon-data:before {
  content: "\e729";
}

.icon-sale:before {
  content: "\e681";
}

.icon-home:before {
  content: "\e77c";
}

.icon-kehu:before {
  content: "\e622";
}

.icon-user:before {
  content: "\ebbf";
}

.icon-jingdong:before {
  content: "\e812";
}

.icon-taobao1:before {
  content: "\e755";
}

.icon-github:before {
  content: "\e691";
}

.icon-bilibili-line:before {
  content: "\e66d";
}

.icon-baidu:before {
  content: "\e8cb";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-collections:before {
  content: "\eae7";
}

.icon-calender:before {
  content: "\e619";
}

.icon-xiaoxitixing:before {
  content: "\e631";
}

.icon-search:before {
  content: "\e741";
}

.icon-sunrise_fill:before {
  content: "\e6d1";
}

.icon-seven-key:before {
  content: "\e698";
}

.icon-all-fill:before {
  content: "\e84a";
}

.icon-lishijilu_o:before {
  content: "\eb7b";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-zuowei:before {
  content: "\e62f";
}

.icon-shoujitianchong:before {
  content: "\e6b9";
}

.icon-hongbao:before {
  content: "\e656";
}

.icon-shenghuojiaofei:before {
  content: "\e63f";
}

.icon-koubei:before {
  content: "\e673";
}

.icon-xinyongka:before {
  content: "\e745";
}

.icon-huabei:before {
  content: "\e60e";
}

.icon-jijin:before {
  content: "\e601";
}

.icon-taobao:before {
  content: "\ea5d";
}

.icon-zhuanzhang:before {
  content: "\fb14";
}

.icon-elemo:before {
  content: "\e640";
}

