/* 去除常见标签默认的 margin 和 padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
  font: 16px/1.5 'PingFangSC-Regul', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  color: #333;
}
/* 去除列表默认样式 */
ul,
ol {
  list-style: none;
}
/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}
/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
  text-decoration: none;
  color: #333;
}
/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
  width: 100%;
  vertical-align: middle;
}
/* 去除input默认样式 */
input {
  border: none;
  outline: none;
  color: #333;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.706667rem;
  background-color: #f40055;
}
.header .top {
  height: 0.8rem;
}
.header .bottom {
  display: flex;
  align-items: center;
}
.header .bottom h1 {
  color: #fff;
  font-size: 0.24rem;
  font-style: italic;
  margin-left: 0.4rem;
}
.header .bottom .search {
  height: 0.64rem;
  font-size: 0 !important;
  position: relative;
  margin-left: 0.213333rem;
}
.header .bottom .search span {
  position: absolute;
  top: 50%;
  left: 0.266667rem;
  transform: translateY(-50%);
  color: #cccccc;
  font-size: 0.346667rem;
}
.header .bottom .search input {
  width: 6rem;
  height: 0.64rem;
  border-radius: 0.32rem;
  padding-left: 0.693333rem;
  color: #989898;
  font-size: 0.266667rem;
}
.header .bottom .right {
  width: 1.333333rem;
  position: relative;
  margin-left: 0.426667rem;
}
.header .bottom .right span {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 0.453333rem;
}
.header .bottom .right em {
  position: absolute;
  top: 50%;
  right: 0.026667rem;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 0.453333rem;
}
.banner {
  padding-top: 1.706667rem;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 10rem;
  padding: 0 0.4rem;
  padding-bottom: 0.426667rem;
}
.product li {
  font-size: 0;
  margin: 0.4rem 0.266667rem;
}
.product li a {
  font-size: 0.293333rem;
  text-align: center;
}
.product li a span {
  display: block;
  width: 1.173333rem;
  height: 1.173333rem;
  margin-bottom: 0.186667rem;
  background-image: linear-gradient(45deg, #ff623b 0%, #ff8061 100%), linear-gradient(#ff6464, #ff6464);
  border-radius: 50%;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.173333rem;
}
.box {
  position: relative;
  height: 2.8rem;
  background-color: #2d1778;
}
.box .txt {
  position: absolute;
  top: 0.266667rem;
  left: 1.6rem;
  width: 2.266667rem;
  height: 1.866667rem;
  color: #fff;
  font-size: 0;
}
.box .txt p {
  font-size: 0.24rem;
}
.box .txt em {
  font-size: 0.533333rem;
}
.box .txt i {
  display: block;
  font-size: 0.16rem;
}
.box .txt a {
  display: block;
  width: 1.653333rem;
  height: 0.453333rem;
  background-color: #fcb80e;
  margin-top: 0.213333rem;
  margin-left: 0.213333rem;
  border: 0.026667rem solid #c78f29;
  border-radius: 0.2266665rem;
  color: #000;
  font-size: 0.213333rem;
  text-align: center;
  line-height: 0.4rem;
}
.box img {
  position: absolute;
  top: 0px;
  right: 1.28rem;
  width: 4.72rem;
  height: 2.8133335rem;
}
.recommend {
  height: 3.573333rem;
  padding: 0 0.4rem;
}
.recommend h3 {
  margin-top: 0.373333rem;
  margin-bottom: 0.4rem;
  font-size: 0.426667rem;
}
.recommend .content {
  display: flex;
  justify-content: space-between;
}
.recommend .content .item {
  width: 2.933333rem;
  height: 2.373333rem;
  background-color: #ff8061;
}
.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 49px;
  padding: 0 0.693333rem;
  background-color: #ffffff;
  box-shadow: 0px -3px 26px 0px rgba(102, 102, 102, 0.2);
}
.footer li a {
  display: block;
  text-align: center;
  font-size: 0.266667rem;
}
.footer li a span {
  display: block;
  font-size: 0.586667rem;
}
