.navbar-expand-lg {
  background-color: transparent !important;
}
.navbar-expand-lg .navbar-collapse {
  flex-grow: 0;
}
.carousel .carousel-item img {
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .carousel .carousel-item img {
    height: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carousel .carousel-item img {
    height: 400px;
  }
}
@media screen and (min-width: 992px) {
  .carousel .carousel-item img {
    height: 500px;
  }
}
.product {
  padding-top: 65px;
  text-align: center;
}
.product h3 {
  color: #494d55;
  font-size: 30px;
  font-weight: 400;
}
.product h3 span {
  font-weight: 200;
}
.product p {
  color: #919191;
}
.product ul {
  list-style: none;
}
.product ul a {
  position: relative;
  display: block;
  height: 192px;
  background-color: antiquewhite;
  transition: 0.5s;
  overflow: hidden;
}
.product ul a:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.5);
}
.product ul a::after {
  position: absolute;
  top: 0;
  left: -200px;
  content: '';
  display: block;
  width: 100px;
  height: 192px;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4) 20%, transparent);
  transform: skew(-45deg);
}
.product ul a:hover::after {
  transition: 0.5s;
  transform: skew(-45deg) translateX(650px);
}
