/* 
  注意点：
    1、less中完成兼容css的写法，可以在less文件中直接写css
    2、浏览器不能直接识别less，可以把less转换成css

    编译  转换

*/
.father {
  width: 400px;
  height: 400px;
  background-color: pink;
}
.son {
  width: 200px;
  height: 200px;
  background-color: orange;
}
